*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: #eee;
    padding: 1rem;
}
a{
    background-color: lightcoral;
    border-radius: 8px;
    padding: 10px;
    color: white;
    cursor: pointer;
}